<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies
                <!--<small>Secondary Text</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div id="movies" class="row">
      {{#each movie}}
        <div class="col-md-3 portfolio-item">
            <a href="/movie/{{imdb_id}}">
                <img id="image_1" class="img-responsive" src={{images.poster}} alt="">
            </a>
            <h3 class="title-movie">
                <a id="title_1" href="/movie/{{imdb_id}}">{{title}}</a>
            </h3>
        </div>
      {{/each}}
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
              {{#if prev}}
                <li>
                    <a href="{{prev}}">&laquo;</a>
                </li>
              {{/if}}
                {{#each page}}
                {{#if active}}
                <li class="active">
                {{else}}
                <li>
                {{/if}}
                    <a href={{link}}>{{number}}</a>
                </li>
                {{/each}}
                {{#if next}}
                <li>
                    <a href="{{next}}">&raquo;</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Remote-Pop 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Load Movie info -->
<!--<script src="js/pages/movies.js"></script>-->
